* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Tahoma', sans-serif;
  color: white;
}

/* ===== الصفحة الأولى ===== */
.intro {
  height: 100vh;
  background-color: #000;
  background-image: url('https://media.discordapp.net/attachments/1368855207290732585/1370783090204737627/2.jpg?ex=6820c0bc&is=681f6f3c&hm=66ca7905c3b18b966eaabe316192fc2af8f1c0eccb2d5b8204d300e1b406ef5b&=&format=webp&width=1054&height=569');
  background-size: cover;
  background-position: center 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.intro h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #00cfff;
}

.intro p {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  margin: 0;
  background: none;
}

/* ===== الصفحة الثانية ===== */
.section2 {
  min-height: 100vh;
  background-color: #333;
  padding-top: 100px;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  margin-top: 30px;
}

/* Sticky */
.sticky-section2 {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* خلفية شفافة وراء الصناديق */
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* الصناديق */
.box {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  margin: 20px auto;
  padding: 20px;
  width: 60%;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  border-radius: 15px;
  cursor: pointer;
}

.box.show {
  opacity: 1;
  transform: translateY(0);
}

.box:hover {
  transform: scale(1.03);
}

footer {
  margin-top: 50px;
  text-align: center;
  color: #00cfff;
  font-size: 0.9em;
  padding-bottom: 20px;
}

/* زر العودة للأعلى */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: 3px solid black;
  color: black;
  border-radius: 50%;
  padding: 15px;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
  opacity: 0;
  animation: slideUp 0.6s forwards;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.scroll-to-top:hover {
  transform: scale(1.1);
}

.scroll-to-top svg {
  width: 25px;
  height: 25px;
}

/* حركة السهم */
@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
